@*
//------------------------------------------------------------------------------
//  此代码版权声明为全文件覆盖，如有原作者特别声明，会在下方手动补充
//  此代码版权（除特别声明外的代码）归作者本人AlbertZhao所有
//  源代码使用协议遵循本仓库的开源协议及附加协议
//  Gitee源代码仓库：https://gitee.com/AlbertZhao/AlbertCollection
//------------------------------------------------------------------------------
*@

@namespace AlbertCollection.Web.Rcl.Core
@using System.Globalization;
@using Masa.Blazor.Presets;
@inherits CultureComponentBase
<PPageTabs @ref="PPageTabs" TabOptions=@TabOptions TabClass="px-6 rounded-t-xl" Ripple="false" HideSlider>
    @*    <TabContent>
    @{
    var item = UserResoures.PageTabItems.FirstOrDefault(u => context.IsMatch(u.Href));
    }
    <MSheet Class="d-flex align-center justify-center" Height=@($"{UserResoures.Themes.LayoutPrpo.PageTabsHeight}px;")>
    <MIcon Class=@(context.Selected ? "primary--text" : "") Size="20">@item?.Icon</MIcon>
    <span class="mx-2 text-capitalize @(context.Selected ? "primary--text" : "")" style=@($"min-width:46px;")>
    @T(item?.Title)
    </span>
    </MSheet>

    </TabContent>*@
    <ChildContent>
        @ChildContent
    </ChildContent>

</PPageTabs>
<style>

    .tgTab {
        height: 36px;
    }

</style>



